$title-defaults: ("#1c2130", "#028f76", "#b3e099", "#ffeaad", "#d14334");
$title-colors: ("#9dc9ac", "#fffec7", "#f56218", "#ff9d2e", "#919167");

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    @for $i from 1 through length($title-defaults) {
        --clr#{$i}: #{unquote(nth($title-defaults, $i))};
    }

    --clr-primary: #eecb11;
    --clr-primary-h: 50;
    --clr-primary-s: 87%;
    --clr-primary-l: 50%;
    --bg-inner: white;
    --bg-outer: white;
    --hue-aside: 188deg;
    --bg-aside: hsl(var(--hue-aside), 10%, 30%);
    --bg-aside-lighter: hsl(var(--hue-aside), 10%, 40%);
    --bg-aside-darker: hsl(var(--hue-aside), 10%, 20%);
    --block-w: 3.5rem; // width of block type
    --bdr-rad: .25rem;

}

html {
    font-size: 16px;
    height: -webkit-fill-available; // cf. https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    @include grid-center;
    background-image: radial-gradient(var(--bg-inner) 0%, var(--bg-outer) 100%);
}


output {
    width: 4ch;
    text-align: right;
}

.alert {
    color: darkorange;
    transition: color .25s linear;
}