$title-defaults: ("#1c2130", "#028f76", "#b3e099", "#ffeaad", "#d14334");
$title-colors: ("#9dc9ac", "#fffec7", "#f56218", "#ff9d2e", "#919167");

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    @for $i from 1 through length($title-defaults) {
        --clr#{$i}: #{unquote(nth($title-defaults, $i))};
    }

    --menu-w: 4rem;

    --clr-primary: #eecb11;
    --clr-primary-h: 50;
    --clr-primary-s: 87%;
    --clr-primary-l: 50%;
    --clr-alert: hsl(23, 80%, 50%);
    --bg-inner: #c2c2c2;
    --bg-outer: #2b2b2b;
    --hue-aside: 188deg;
    --bg-aside: hsl(var(--hue-aside), 10%, 30%);
    --bg-aside-lighter: hsl(var(--hue-aside), 10%, 40%);
    --bg-aside-darker: hsl(var(--hue-aside), 10%, 20%);
    --block-w: 3.5rem; // width of block type
    --bdr-rad: .25rem;

}

html {
    font-size: 16px;
    height: -webkit-fill-available; // cf. https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    @include grid-center;
    background-image: radial-gradient(var(--bg-inner) 0%, var(--bg-outer) 100%);

    &.svg {
        background-position: top left, bottom right 4rem, 50% 50%;
        background-repeat: no-repeat;
        background-blend-mode: overlay, overlay, normal;
        background-size: 45vw, 45vw, auto;
    }
}


output {
    width: 4ch;
    text-align: right;
}

.alert {
    color: var(--clr-alert);
    transition: color .25s linear;
}

.focused {
    outline: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.125s ease-in-out;

    &:focus-visible {
        box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.5);
    }
}

#github {
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    position: absolute;
    left: .5rem;
    bottom: .5rem;

    & svg {
        shape-rendering: geometricPrecision;
    }

    & .octo-face {
        display: none;
    }

    & .octo-eye {
        transform-origin: 163px 138px;
    }

    &:hover {
        & .octo-eye {
            animation: octocat-blink 560ms ease-in-out;
        }

        & .octo-face {
            display: inline;
        }
    }
}

@keyframes octocat-blink {

    0%,
    25%,
    100% {
        transform: scale(1);
    }

    60% {
        transform: scale(1, 0);
    }

    85% {
        transform: scale(1, .8);
    }
}