#btnMenu__cont {
    position: fixed;
    width: var(--menu-w);
    top: 1rem;
    right: 0;
    z-index: 1;
}

.btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .75rem;
    border: 1px solid hsl(0deg 0% 100% / 75%);
    border-radius: .375rem;
    padding: .375rem .75rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform .25s ease-in-out;

    &:active{
        transform: scale(1.5);
    }

    &__small {
        padding: .25em .5em;
        gap: .5em;

        & svg {
            width: 1.125rem;
        }
    }

    &__round {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        display: grid;
        place-content: center;
        border: 1px solid hsl(0deg 0% 100% / 75%);
        border-radius: 50%;
        position: relative;
        &::after{
            position: absolute;
            inset: 0;
            content: '';
            border-radius: 50%;
            background: hsl(0deg 0% 100% / 20%);
            clip-path: circle(0% at 50% 50%);
            transition: clip-path .125s ease-out;
        }
        &:hover::after{
            clip-path: circle(100% at 50% 50%);
            transition: clip-path .25s ease-in;
        }

        &:focus-visible {
            outline-offset: 4px;
            outline: thin solid #fff;
        }

    }

}




button {
    padding: .25em .5em;
    margin: 0 auto;
    cursor: pointer;
    background: transparent;
    border: none;
}