main {
    width: 85vw;
    max-height: 85vh;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: min(36rem, 100vw);
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-aside);
    background-image: radial-gradient(farthest-corner, rgb(0 0 0 / 0), rgb(0 0 0 / 30%));
    transform: translateX(calc(100% - var(--menu-w)));
    transition: opacity .25s linear;
    // drop shadow
    box-shadow:
        -3.7px 0 3.6px rgba(0, 0, 0, 0.037),
        -5.3px 0 10px rgba(0, 0, 0, 0.047),
        -13.7px 0 24.1px rgba(0, 0, 0, 0.053),
        -42px 0 80px rgba(0, 0, 0, 0.07);

    &.open {
        transform: translateX(0);
        opacity: 1;
        padding-left: 0;

        & article {
            padding: 1rem;
            border-radius: .5rem;
            background: rgba(0, 0, 0, .1);
        }

        & .btns__vert {
            display: none;
        }
    }

    &:not(.open) {
        padding-left: 4rem;

        & .btns__vert {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: var(--menu-w);
            position: fixed;
            left: 0;
            bottom: 3rem;

            &>div {
                position: relative;
            }
        }
    }

}

@media (prefers-reduced-motion: no-preference) {
    aside {
        transition: transform .25s ease-in-out, padding .5s ease-in-out;
    }
}

.aside__cont {
    position: relative;
    width: 100%;
    overflow: hidden auto;
    padding: 2rem 2rem 6rem 2rem;
    color: #fff;
}

article {
    margin-block: 2rem;

    & h2,
    & h3,
    & p {
        margin-bottom: 1rem;
    }

    &.btns {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
    }
}

article.grid {
    & fieldset {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        border: none;
        margin-bottom: 1rem;

        &>* {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            @media (max-width: 26em) {
                flex-direction: column;
                margin: auto;
            }
        }
    }

    & .divide-slider__cont {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        height: 0;
        opacity: 0;
        transition: opacity .5s ease-out, height .5s ease-out;

        &.open {
            height: 3rem;
            opacity: 1;
        }
    }
}

article.palette {
    &>div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        @media (max-width: 26em) {
            align-items: flex-start;
        }
    }
}

.select-block-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--block-w), 1fr));
    gap: 1em;
}

.block-type__cont {
    position: relative;
    width: var(--block-w);
    aspect-ratio: 1 /1;
    border-radius: var(--bdr-rad);
    background-color: var(--bg-aside-darker);
    justify-self: center;

    & input[type=checkbox] {
        position: absolute;
        right: -200vw;
        visibility: hidden;

        &:checked~.block-type {
            border-radius: var(--bdr-rad);
            border: 3px solid #fff; // TODO #fff en param pour les 3 règles
            background: hsl(0deg 0% 100% / 40%);
            box-shadow: 0 0 .25em hsl(0deg 0% 100% / 30%);
        }
    }

    & label {
        display: block;
        position: absolute;
        inset: 0;
        cursor: pointer;
    }

    & .block-type {
        position: absolute;
        inset: 0;
        display: grid;
        place-content: center;
        transition: background .125s linear;

        & svg {
            width: 3rem;
            height: 3rem;
        }
    }

    &:focus-within {
        box-shadow: 0 0 4px 2px #fff;
    }

    &>*:focus-visible {
        outline: none;
    }
}

.block-weight__cont {
    & label {
        height: 3.5rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}

.block-weight__total {
    display: flex;
    margin-top: .5rem;
    will-change: transform;
    transition:
        transform .25s ease-out,
        opacity .25s ease-out;

    & span:not(.btn__text) {
        flex-grow: 1;
        text-align: right;
        padding-right: .25rem;
    }

    &[data-display=true] {
        opacity: 1;
        transform: translateY(0);
    }

    &[data-display=false] {
        opacity: 0;
        transform: translateY(100%);
        transition: transform .1s ease-in,
            opacity .1s ease-in;
    }
}