img,
svg {
    display: block;
    max-width: 100%;
    aspect-ratio: 1 /1;
    /*    Removes little gaps between the shapes */
    shape-rendering: crispEdges;
}

svg {
    // Ces classes servent à colorier les icônes des blocs (cf. createSVGLibrary() dans init.js)
    & .clr8 {
        fill: #3a6f06;
    }

    & .clr9 {
        fill: var(--clr-primary);
    }
}

aside svg {
        shape-rendering: geometricPrecision;
    }

.svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    max-width: fit-content;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1;
    vector-effect: non-scaling-stroke; // keeps stroke-weight while scaling
}

#random-weights .tracks rect {
    stroke: none;
    fill: #fff;
}

#palette .spots {
    stroke: none;
    fill: #fff;
}