$clr-tooltip: hsl(188deg, 10%, 14%);

.tooltip {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 12rem;
    background: $clr-tooltip;

    padding: .5rem;
    // border-radius: .25rem;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s linear 2s;
    user-select: none;
  }

//   .arrow {
//       position: absolute;
//       background-color: $clr-tooltip;
//       width: .625rem;
//       height: .625rem;
//       transform: rotate(45deg);
//   }