@import 'mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-inner: white;
  --bg-outer: white;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  @include grid-center;
  background-image: radial-gradient(var(--bg-inner) 0%, var(--bg-outer) 100%);
}

main {
  width: 85vw;
}

aside {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: .5em;
  background-color: deepskyblue;
  transition: left .5s ease-in-out;

  &.open {
    left: 0;
  }

  & article {
    border: 1px solid red;
  }
}

.select-block-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.block-type__cont {
  position: relative;
  width: 3.5rem;
  height: 75px;
  border-radius: .25rem;
  background-color: yellowgreen;

  & input[type=checkbox] {
    position: absolute;
    right: -200vw;

    &:checked~.block-type {
      border: 3px solid red;
      background: hsl(0deg 0% 100% / 50%);
    }
  }

  & label {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  & .block-type {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    border-radius: .25rem;

    & svg {
      width: 3rem;
      height: 3rem;
      shape-rendering: geometricPrecision;
    }
  }
}

.block-weight__cont {
  & label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  & svg {
    width: 2rem;
    height: 2rem;
    shape-rendering: geometricPrecision;
  }
}

#btnMenu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  filter: invert(1);
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: none;
  stroke: #333;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke; // keeps stroke-weight while scaling
  shape-rendering: geometricPrecision;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}


img,
svg {
  display: block;
  max-width: 100%;
  aspect-ratio: 1 /1;
  /*    Removes little gaps between the shapes */
  shape-rendering: crispEdges;
}
.block circle,
.block path{
  shape-rendering: geometricPrecision;
}

ul,
nav ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  display: inline-block;
}

button {
  padding: .25em .5em;
  margin: 0 auto;
}

.block-weight__total{
  transition: height .2s linear, opacity .2s linear;
  
  &[data-display=true] {
    opacity: 1;
    height: 2rem;
  }
  &[data-display=false] {
    opacity: 0;
    height: 0;
  }

}