@import 'mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-inner: white;
  --bg-outer: white;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  @include grid-center;
  background-image: radial-gradient(var(--bg-inner) 0%, var(--bg-outer) 100%);
}

main {
  width: 85vw;
}

aside {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: .5em;
  background-color: deepskyblue;
  transition: left .5s ease-in-out;

  &.open {
    left: 0;
  }

  & article {
    border: 1px solid red;
  }
}

.select-block-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.block-type__cont {
  position: relative;
  width: 50px;
  height: 75px;
  border-radius: .25rem;
  background-color: yellowgreen;

  & input[type=checkbox]:checked~.block-type {
    background: red;
  }

  & label {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  & .block-type {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    border-radius: .25rem;

    & svg {
      width: 35px;
      height: 35px;
      shape-rendering: geometricPrecision;
    }
  }
}

.block-weight__cont{
  & label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  & svg {
    width: 30px;
    aspect-ratio: 1 / 1;
  }
}

#btnMenu {
  width: 1.5rem;
  height: 1.5rem;
  shape-rendering: geometricPrecision;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;

  & line {
    stroke: #333;
    stroke-width: 3;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke; // keeps stroke-weight while scaling
  }
}

img {
  display: block;
  max-width: 100%;
}

ul,
nav ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  display: inline-block;
}

svg {
  width: 100%;
  aspect-ratio: 1;
  /*    Removes little gaps between the shapes */
  shape-rendering: crispEdges;
}

button {
  padding: .25em .5em;
  margin: 0 auto;
}